.WaterController{
    .counter{
        margin-left: 8px;
        margin-top: 38px;
        width: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        background:white;
        color:black;
        border:solid 1px black;
    }
    
}